# Git
.git
.gitignore
.github/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.venv/
*.egg-info/
dist/
build/

# VS Code
.vscode/

# Environment variables
.env
*.env

# Tests
tests/

# Documentation
README.md
LICENSE

# Google Cloud credentials
*-credentials.json
*credentials*.json

# Docker
Dockerfile
.dockerignore

# Project temp files
*.log
*.tmp
media/
infrastructure/
docs/

docker-env/

# Frontend
frontend/node_modules/
